<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TuneHub : CUSTOMER HOME</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/admin-customer-style.css}" />
</head>
<body>
	<div class="container">
		<h1>CUSTOMER HOME</h1>
			<div class="button-container">
			<a th:href="@{/pay}" class="button">GET PREMIUM</a>
            <a th:href="@{/logout}" class="button">LOGOUT</a>
			</div>
	</div>
</body>
</html>